Optional padding of BHTTP

Quoting [RFC 9458 Section 6.2.3](https://www.rfc-editor.org/rfc/rfc9458.html#section-6.2.3-6) about traffic analysis

> Clients and Oblivious Gateway Resources can use padding to reduce the effectiveness of traffic analysis. Padding is a capability provided by binary HTTP messages

This is a feature this library supports for decoding (we accept padded BHTTP as bhttp-ts does support it), but not something we have an option for clients to send.

I suspect this will require modificaiton of thibmeu/bhttp-ts so that the option is on the upstream package, and ohttp-ts simply consumes and exposes it.

This could meaningfully improve the privacy posture of clients, and not something that's easily achievable today.